/* navigation */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}

/* HOME */
#home{
    height: 280px;
    padding: 3px 28px;
    
}
#home::before{
    height: 370px;
}
#home p{
    font-size: 13px;
}
/* Services */
#services{
    flex-direction: column;
}
#services .box{
    padding: 14px;
    margin: 2px 0px;
    margin-bottom: 20px;
}
/* client */
#clients{
    flex-wrap: wrap;
}
#client img{
    width: 66px;
    padding: 6px;
    height: auto;
}

/* contact */

/* footer */

/* utility */
.h-primary{
    font-size: 26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}